<div class="container columns">
    <div class="col">
        <h2>More SRCCON:WORK</h2>
        <ul>
            <li><a href="/conduct">Code of conduct</a>
            <li><a href="/sponsors">Become a sponsor</a>
            <li><a href="/scholarships">Scholarships</a>
            <li><a href="/volunteer">Volunteer at SRCCON:WORK</a>
            <li>Join our <a href="http://opennews.us5.list-manage.com/subscribe?u=71c95e9a43708843d2fdc1f09&id=996e9290cc">mailing list</a></li>
            <li>Contact us: <a href="mailto:srccon@opennews.org">Email</a> | <a href="https://twitter.com/srccon">Twitter</a></li>
            <li><a rel="license" href="http://creativecommons.org/licenses/by/3.0/">CC Attribution 3.0</a></li>
        </ul>
    </div>
    <div class="col">
        <h2>About SRCCON Events</h2>
        <p>OpenNews runs several journalism events each year. The largest is SRCCON, a mid-year conference for about 300 developers, designers, and data analysts. <a href="https://srccon.org">SRCCON 2017</a> took place August 3 & 4 in Minneapolis, MN. We also gather small working groups and convenings, and this year added our first topically focused SRCCON-style event, SRCCON:WORK, Dec. 7 & 8 in Philadelphia.</p>
    </div>
    <div class="col last">
        <h2>About OpenNews</h2>
        <p><a href="http://www.opennews.org">OpenNews</a> connects a network of developers, designers, journalists and editors to collaborate on open technologies and processes within journalism. OpenNews believes that a community of peers working, learning and solving problems together can create a stronger, more responsive, and ascendant journalism ecosystem. Incubated at the <a href="https://www.mozilla.org/en-US/foundation/">Mozilla Foundation</a> from 2011-2016, OpenNews is now a project of <a href="http://www.communitypartners.org/">Community Partners.</a></p>
    </div>
</div>
