<div class="live hidden">
    <h2 id="live-leader">Right now at SRCCON:WORK</h2>
    <table>{% for session in site.data.schedule %}
        <tr class="hidden live-{{ session.timeblock }}">
            <td class="session-time">{{ session.time }}</td>
            <td><a class="session-title" href="https://work.srccon.org/schedule/#_session-{{ session.id }}">{{ session.title }}</a>{% if session.transcription != "" %}<br><a class="session-transcript" href="https://aloft.nu/stanley/srcconwork-2017-{{ session.id }}">Live transcript</a>{% endif %}</td>
        </tr>
{% endfor %}
    </table>
    
    <a class="btn" href="https://work.srccon.org/schedule/">See the full schedule</a>
</div>
